In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [108]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score,recall_score,f1_score,roc_auc_score,confusion_matrix,classification_report,accuracy_score

In [109]:
data = pd.read_csv("D:\Advanced_training\Advanced-training-Python-AIML\Day-6\Algerian_forest_fires_cleaned_dataset.csv")

In [110]:
data.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0

In [111]:
data.isnull().sum()

day            0
month          0
year           0
Temperature    0
RH             0
Ws             0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
Region         0
dtype: int64

In [112]:
data['Classes'] = data['Classes'].str.strip()

In [113]:
data['Classes'].value_counts()

Classes
fire        137
not fire    106
Name: count, dtype: int64

In [114]:
data.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [115]:
data.drop(columns=['day','month','year'],inplace=True)

In [116]:
data['Classes'] = np.where(data['Classes'].str.contains('not fire'),0,1)

In [117]:
data['Classes'].value_counts()

Classes
1    137
0    106
Name: count, dtype: int64

In [118]:
x = data.drop('Classes',axis=1)
y = data['Classes']

In [119]:
x.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  FWI  Region
0           29  57  18   0.0  65.7  3.4   7.6  1.3  3.4  0.5       0
1           29  61  13   1.3  64.4  4.1   7.6  1.0  3.9  0.4       0
2           26  82  22  13.1  47.1  2.5   7.1  0.3  2.7  0.1       0
3           25  89  13   2.5  28.6  1.3   6.9  0.0  1.7  0.0       0
4           27  77  16   0.0  64.8  3.0  14.2  1.2  3.9  0.5       0

In [120]:
x.shape,y.shape

((243, 11), (243,))

In [121]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [122]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [123]:
logistic = LogisticRegression()
logistic.fit(x_train_scaled,y_train)
y_pred = logistic.predict(x_test_scaled)
precision = precision_score(y_test,y_pred)
confusion_matrix = confusion_matrix(y_test,y_pred)

In [124]:
confusion_matrix

array([[20,  2],
       [ 1, 26]])

In [125]:
precision

0.9285714285714286

In [126]:
score = accuracy_score(y_pred,y_test)
score

0.9387755102040817

In [127]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.91      0.95      0.93        21
           1       0.96      0.93      0.95        28

    accuracy                           0.94        49
   macro avg       0.94      0.94      0.94        49
weighted avg       0.94      0.94      0.94        49

In [ ]:
## make random data and traiun model

In [180]:
from sklearn.datasets import make_classification

In [181]:
x,y = make_classification(n_samples=1000,n_features=10,n_classes=2,random_state=15)

In [182]:
x = pd.DataFrame(x)
y= y.reshape(-1,1)

In [183]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [184]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [185]:
from sklearn.metrics import confusion_matrix, precision_score
from sklearn.linear_model import LogisticRegression

logistic = LogisticRegression()
logistic.fit(x_train_scaled, y_train)
y_pred = logistic.predict(x_test_scaled)
precision = precision_score(y_test, y_pred)

confusion_matrix = confusion_matrix(y_test, y_pred)

C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [186]:
confusion_matrix

array([[96,  5],
       [ 9, 90]])

In [187]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.95      0.91      0.93       105
           1       0.91      0.95      0.93        95

    accuracy                           0.93       200
   macro avg       0.93      0.93      0.93       200
weighted avg       0.93      0.93      0.93       200